<div class="row" style="background-color:rgb(128, 134, 139);height:5rem;">
    <div class="col-sm-12 p-0 my-auto">

      <div class="border-bottom border-top border-white mt-1 mx-auto w-50 text-white">
        <p class="text-center mt-1">Envoyez nous un email I Appelez au +221 33 825 13 50 I Localisez-nous</p>
      </div>
    </div>
</div>
<div class="row p-5" style="background-color: white;color: black;">
    <div class="col-sm-12  p-0  ">
    </div>
    <div class="col-sm-12">
    <div class="row my-1">

      <div class="col-sm-3">
        <b> Partenaire </b>
        <!--<p> MasterCard </p>
        <p> OpenClassrooms </p>
        <p> VC4Africa </p>-->

      </div>
      <div class="col-sm-3">
          <b> Entreprise </b>
          <!--<p> Team X</p>-->

        </div>
        <div class="col-sm-3">
            <b> En plus </b>
          </div>
      <div class="col-sm-3">
          <b> Réseaux sociaux </b>
          <div class="row">

            <div class="stats">

      <a  href="https://www.youtube.com" target="_blank"><img src="./assets/params/images/logo/youtube.png" class="mr-3" width="50%" height="100%" alt="..."></a>
      <a  href="https://www.linkedin.com" target="_blank"><img src="./assets/params/images/logo/linkedin.png" class="mr-3"  width="50%" height="100%" alt="..."></a>
      <a href="https://www.facebook.com" target="_blank"><img src="./assets/params/images/logo/facebook.png" class="mr-3" width="50%" height="100%" alt="..."></a>
     <a  href="https://www.instagram.com" target="_blank"><img src="./assets/params/images/logo/instagram.png" class="mr-3"  width="50%" height="100%" alt="..."></a>
       <a  href="https://www.twitter.com" target="_blank"><img src="./assets/params/images/logo/twitter.png" class="mr-3"  width="50%" height="100%" alt="..."></a>

      </div>
            </div>
      </div>

      </div>
    </div>
  </div>
