<div style="padding-top: 5%;padding-bottom: 50px;">

    <div class="row col-sm-12 ">


  <div class="accordion w-100" id="accordionExample" >
      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingOne">
          <h2 class="mb-0">
            <button  class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Séquence 1
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/3ewN6UDFvms" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

              <div class="col-sm-6">
                <h1 class="text-center" style="color: #4493D2;">Vidéo 1</h1>
                <p>Descriptif vidéo 1</p>
                <!--<p >Couture, Coupe, Dessin,
                    Teinture, Coiffure ou Leadership etc. Des formations adaptées en fonctions de vos besoins et proposées à
                    travers tous le
                    Sénégal
                  </p>
                <p>
                    CAIF vous propose des Formations Initiales ,
                    Formations Continues ainsi que des Formations dites ludiques à Dakar
                     et dans la sous région. Formez-vous et donnez-vous toutes les chances
                     d’obtenir un DQP, CAP ou BEP et de trouver un emploi gratifiant dans le
                     secteur de l’industrie textile ou le secteur du tourisme.
                </p>
                <p>
                    La Formation ludique s’adresse aux particuliers sous la forme de cours du weekend de
                    façon ponctuelle ou sur deux mois. Vous êtes passionnés de Couture et Restauration ,
                    vous avez envie de découvrir la cuisine du monde, d’apprendre à confectionner des
                    tenues pour enfants, de faire des ateliers  autour du chocolat ,
                    ou de la broderie ,  ces formations ludiques sont faites pour vous.
                </p>-->
              </div>
              </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Séquence 2
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/Tadgz6_2eeQ" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 2</h1>
                    <p>Descriptif vidéo 2</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Séquence 3
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/0VIqY4SDPd8" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 3</h1>
                    <p>Descriptif vidéo 3</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>
    </div>

      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
              Séquence 4
            </button>
          </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/uGbtRzepvt8" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 4</h1>
                    <p>Descriptif vidéo 4</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseThree">
              Séquence 5
            </button>
          </h2>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/23QnPRfuOdo" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 5</h1>
                    <p>Descriptif vidéo 5</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
              Séquence 6
            </button>
          </h2>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/4adVMMW2zvk" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 6</h1>
                    <p>Descriptif vidéo 6</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
              Séquence 7
            </button>
          </h2>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/qdDUpar28Vg" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 7</h1>
                    <p>Descriptif vidéo 7</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseThree">
              Séquence 8
            </button>
          </h2>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/WzD25lhr5AM" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 8</h1>
                    <p>Descriptif vidéo 8</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseThree">
              Séquence 9
            </button>
          </h2>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/orwMyL1Srms" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 9</h1>
                    <p>Descriptif vidéo 9</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" style="background-color: #4493D2;" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseThree">
              Séquence 10
            </button>
          </h2>
        </div>
        <div id="collapse10" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              <div class="row">
                  <iframe class="col-sm-6" width="320" height="500" src="https://www.youtube.com/embed/q1Iudo0iKOE" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                  <div class="col-sm-6">
                    <h1 class="text-center" style="color: #4493D2;">Vidéo 10</h1>
                    <p>Descriptif vidéo 10</p>
                  </div>
                  </div>
                </div>
        </div>
      </div>

  </div>
    </div>
</div>
